[Desktop Entry]
Version=1.0
Encoding=UTF-8
GenericName=Kaptan Desktop Choice
GenericName[tr]=Kaptan Masaüstü Tercihleri
GenericName[de]=Kaptan Desktop Einstellungen
GenericName[es]=Kaptan Preferencias de Escritorio
Comment=Your desktop preferences
Comment[de]=Ihre Desktop-Einstellungen 
Comment[tr]=Sizin Masaüstü Tercihleriniz
Comment[es]=Preferencias de Escritorio
Name=Kaptan
Exec=kaptan
Icon=kaptan.png
Terminal=false
StartupNotify=true
Type=Application
Categories=System;

